@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 89.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-el {
  text-align: center;
  position: relative;
}

.title-el__title {
  line-height: 120%;
  font-weight: 700;
  color: #131313;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem )) {
  .title-el__title {
    font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem )) {
  .title-el__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8497807018rem  +  0.4385964912vw , 1.25rem )) {
  .title-el__title {
    margin-bottom: clamp( 0.9375rem , 0.8497807018rem  +  0.4385964912vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8497807018rem  +  0.4385964912vw , 1.25rem )) {
  .title-el__title {
    margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 71.25);
  }
}

.title-el__subtitle {
  font-weight: 600;
  font-size: 0.875rem;
  color: #424242;
  line-height: 140%;
  max-width: 32.6875rem;
  margin: 0 auto;
}

.title-el__all {
  line-height: 120%;
  font-weight: 500;
  color: #818181;
  position: absolute;
  top: 0;
  right: 0;
}

@supports (font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem )) {
  .title-el__all {
    font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem )) {
  .title-el__all {
    font-size: calc(0.8125rem + 0.125 * (100vw - 20rem) / 71.25);
  }
}

.title-el__all::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #818181;
}

.tta-title {
  text-transform: uppercase;
}

.color-black-tta {
  text-transform: uppercase;
  color: #000;
}

.color-black {
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2.5rem;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._header-scroll .header__wrapper {
  background-color: #9e7701;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.856);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.856);
}

.header__wrapper {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  height: 5.375rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #ffc000;
  position: relative;
  z-index: 11;
}

@supports (font-size: clamp( 2.0625rem , 1.9835526316rem  +  0.3947368421vw , 2.34375rem )) {
  .header__logo {
    font-size: clamp( 2.0625rem , 1.9835526316rem  +  0.3947368421vw , 2.34375rem );
  }
}

@supports not (font-size: clamp( 2.0625rem , 1.9835526316rem  +  0.3947368421vw , 2.34375rem )) {
  .header__logo {
    font-size: calc(2.0625rem + 0.28125 * (100vw - 20rem) / 71.25);
  }
}

.wrapper-header-news {
  background-color: #424242;
}

@supports (margin-right: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem )) {
  .menu {
    margin-right: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem )) {
  .menu {
    margin-right: calc(0.0000000625rem + 12.4999999375 * (100vw - 47.99875rem) / 41.37625);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 0.5249652578rem  +  1.5105283828vw , 1.875rem )) {
  .menu__list {
    gap: clamp( 1.25rem , 0.5249652578rem  +  1.5105283828vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5249652578rem  +  1.5105283828vw , 1.875rem )) {
  .menu__list {
    gap: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 41.37625);
  }
}

.menu__link {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  color: #fff;
  font-size: 1.125rem;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.375rem;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 0.1875rem;
  background-color: #ffc000;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  opacity: 0;
  visibility: hidden;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #424242;
}

@supports (padding-top: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem )) {
  .footer {
    padding-top: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem )) {
  .footer {
    padding-top: calc(1.875rem + 2.5625 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1557017544rem  +  3.5964912281vw , 4.4375rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 2.5625 * (100vw - 20rem) / 71.25);
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.9375rem;
}

.footer__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.footer__title {
  line-height: 120%;
  font-weight: 700;
  color: #ffc000;
  position: relative;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.125rem , 1.0197368421rem  +  0.5263157895vw , 1.5rem )) {
  .footer__title {
    font-size: clamp( 1.125rem , 1.0197368421rem  +  0.5263157895vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0197368421rem  +  0.5263157895vw , 1.5rem )) {
  .footer__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 71.25);
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.footer__link {
  color: #969696;
  font-weight: 500;
  line-height: 120%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__item:nth-child(1) .footer__title::before {
  right: -2.5625rem;
}

.footer__item:nth-child(2) .footer__title::before {
  right: 0rem;
}

.footer__item:nth-child(3) .footer__title::before {
  right: 0.9375rem;
}

.footer__item:nth-child(4) .footer__title::before {
  right: -2.3125rem;
}

.main {
  background: url("../img/bg.jpg") top/cover no-repeat;
  position: relative;
}

@supports (padding-top: clamp( 6.25rem , 3.9692982456rem  +  11.4035087719vw , 14.375rem )) {
  .main {
    padding-top: clamp( 6.25rem , 3.9692982456rem  +  11.4035087719vw , 14.375rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 3.9692982456rem  +  11.4035087719vw , 14.375rem )) {
  .main {
    padding-top: calc(6.25rem + 8.125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 0.7149122807rem  +  15.1754385965vw , 14.5625rem )) {
  .main {
    padding-bottom: clamp( 3.75rem , 0.7149122807rem  +  15.1754385965vw , 14.5625rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.7149122807rem  +  15.1754385965vw , 14.5625rem )) {
  .main {
    padding-bottom: calc(3.75rem + 10.8125 * (100vw - 20rem) / 71.25);
  }
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.main__figure {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.main__figure img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@supports (width: clamp( 15.625rem , 5.8547297297rem  +  48.8513513514vw , 60.8125rem )) {
  .main__figure img {
    width: clamp( 15.625rem , 5.8547297297rem  +  48.8513513514vw , 60.8125rem );
  }
}

@supports not (width: clamp( 15.625rem , 5.8547297297rem  +  48.8513513514vw , 60.8125rem )) {
  .main__figure img {
    width: calc(15.625rem + 45.1875 * (100vw - 20rem) / 92.5);
  }
}

.main__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__title {
  line-height: 120%;
  font-weight: 700;
  position: relative;
  z-index: 2;
  color: #fff;
}

@supports (font-size: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem )) {
  .main__title {
    font-size: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem )) {
  .main__title {
    font-size: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .main__title {
    margin-bottom: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .main__title {
    margin-bottom: calc(1.25rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

.tablee {
  position: relative;
}

@supports (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .tablee {
    padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .tablee {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .tablee {
    padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .tablee {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

.tablee__imagee {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.tablee__container {
  position: relative;
  z-index: 2;
}

@supports (padding-bottom: clamp( 1.5625rem , 1.3695175439rem  +  0.9649122807vw , 2.25rem )) {
  .real-time {
    padding-bottom: clamp( 1.5625rem , 1.3695175439rem  +  0.9649122807vw , 2.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.3695175439rem  +  0.9649122807vw , 2.25rem )) {
  .real-time {
    padding-bottom: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 71.25);
  }
}

.real-time__title {
  line-height: 120%;
  font-weight: 700;
  color: #000;
  margin: 0px 0px 0.625rem 0px;
}

@supports (font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem )) {
  .real-time__title {
    font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3947368421rem  +  0.5263157895vw , 1.875rem )) {
  .real-time__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 71.25);
  }
}

.real-time__subtitle {
  line-height: 140%;
  font-weight: 500;
}

@supports (font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem )) {
  .real-time__subtitle {
    font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.7774122807rem  +  0.1754385965vw , 0.9375rem )) {
  .real-time__subtitle {
    font-size: calc(0.8125rem + 0.125 * (100vw - 20rem) / 71.25);
  }
}

.real-time__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

@supports (gap: clamp( 1.25rem , 0.9692982456rem  +  1.4035087719vw , 2.25rem )) {
  .real-time__row {
    gap: clamp( 1.25rem , 0.9692982456rem  +  1.4035087719vw , 2.25rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.9692982456rem  +  1.4035087719vw , 2.25rem )) {
  .real-time__row {
    gap: calc(1.25rem + 1 * (100vw - 20rem) / 71.25);
  }
}

.real-time__item {
  border-radius: 0.3125rem;
  background-color: #000000;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.7620614035rem  +  0.8771929825vw , 1.5625rem )) {
  .real-time__item {
    padding-top: clamp( 0.9375rem , 0.7620614035rem  +  0.8771929825vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7620614035rem  +  0.8771929825vw , 1.5625rem )) {
  .real-time__item {
    padding-top: calc(0.9375rem + 0.625 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .real-time__item {
    padding-bottom: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .real-time__item {
    padding-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 71.25);
  }
}

.real-time__item:nth-child(2n) {
  background-color: #ffc000;
  border: none;
}

.real-time__icons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6875rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem )) {
  .real-time__icons {
    margin-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem )) {
  .real-time__icons {
    margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

.real-time__text {
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
}

.real-time__position-body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 0.125rem solid #383838;
  padding: 0px 0px 0.9375rem 0px;
  margin: 0px 0px 0.9375rem 0px;
}

.real-time__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  text-align: center;
}

.real-time__text-proc {
  font-weight: 400;
  line-height: 120%;
}

@supports (font-size: clamp( 0.875rem , 0.8574561404rem  +  0.0877192982vw , 0.9375rem )) {
  .real-time__text-proc {
    font-size: clamp( 0.875rem , 0.8574561404rem  +  0.0877192982vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8574561404rem  +  0.0877192982vw , 0.9375rem )) {
  .real-time__text-proc {
    font-size: calc(0.875rem + 0.0625 * (100vw - 20rem) / 71.25);
  }
}

.real-time__number {
  position: relative;
  z-index: 2;
}

.real-time__number img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -0.75rem;
}

.real-time__subbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.real-time__itemm {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.real-time__item:nth-child(2n) .real-time__position-body {
  color: #000;
}

.real-time__item:nth-child(2n) .real-time__text {
  color: #000;
}

.real-time__item:nth-child(2n) .real-time__itemm {
  color: #000;
}

.real-time__item:nth-child(2n) .real-time__position-body {
  border-bottom: 0.125rem solid #e2ab04;
}

.table-main__body {
  border-radius: 5px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-top: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-top: calc(1.25rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem )) {
  .table-main__body {
    padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 2.1875rem )) {
  .table-main__body {
    padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-left: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-left: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-left: calc(1.25rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-right: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-right: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 1.0219298246rem  +  1.1403508772vw , 2.0625rem )) {
  .table-main__body {
    padding-right: calc(1.25rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

.table-main__itemm {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.table-main__ell {
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  position: relative;
  margin: 0px 0px 0.8125rem 0px;
}

.table-main__ell:last-child {
  margin: 0px 0px 0px 0px;
}

.table-main__item {
  color: #fff;
}

.table-main__title {
  font-weight: 700;
  margin: 0px 0px 0.6875rem 0px;
  line-height: 120%;
  text-align: center;
}

.table-main__el {
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  position: relative;
  margin: 0px 0px 0.8125rem 0px;
}

.table-main__el:last-child {
  margin: 0px 0px 0px 0px;
}

.table-main__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news {
  position: relative;
}

@supports (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .news {
    padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .news {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .news {
    padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .news {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

.news__corner {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@supports (width: clamp( 18.75rem , 6.5921052632rem  +  60.7894736842vw , 62.0625rem )) {
  .news__corner img {
    width: clamp( 18.75rem , 6.5921052632rem  +  60.7894736842vw , 62.0625rem );
  }
}

@supports not (width: clamp( 18.75rem , 6.5921052632rem  +  60.7894736842vw , 62.0625rem )) {
  .news__corner img {
    width: calc(18.75rem + 43.3125 * (100vw - 20rem) / 71.25);
  }
}

.news__container {
  position: relative;
  z-index: 2;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem )) {
  .news__title-el {
    margin-bottom: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.9484649123rem  +  3.0701754386vw , 3.75rem )) {
  .news__title-el {
    margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 71.25);
  }
}

.news__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
}

@supports (gap: clamp( 1.5625rem , 1.3344298246rem  +  1.1403508772vw , 2.375rem )) {
  .news__row {
    gap: clamp( 1.5625rem , 1.3344298246rem  +  1.1403508772vw , 2.375rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.3344298246rem  +  1.1403508772vw , 2.375rem )) {
  .news__row {
    gap: calc(1.5625rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

.news__item {
  border: 1px solid #e5e3e3;
  border-radius: 0.3125rem;
  background-color: #fff;
}

.news__image-ibg {
  border-radius: 0.3125rem 0.3125rem 0 0;
  padding: 0px 0px 80% 0px;
}

.news__image-ibg img {
  border-radius: 0.3125rem 0.3125rem 0 0;
}

@supports (margin-bottom: clamp( 0.75rem , 0.5745614035rem  +  0.8771929825vw , 1.375rem )) {
  .news__image-ibg {
    margin-bottom: clamp( 0.75rem , 0.5745614035rem  +  0.8771929825vw , 1.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.5745614035rem  +  0.8771929825vw , 1.375rem )) {
  .news__image-ibg {
    margin-bottom: calc(0.75rem + 0.625 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-left: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem )) {
  .news__body {
    padding-left: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem )) {
  .news__body {
    padding-left: calc(1.25rem + 0.4375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-right: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem )) {
  .news__body {
    padding-right: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem )) {
  .news__body {
    padding-right: calc(1.25rem + 0.875 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem )) {
  .news__body {
    padding-bottom: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.1271929825rem  +  0.6140350877vw , 1.6875rem )) {
  .news__body {
    padding-bottom: calc(1.25rem + 0.4375 * (100vw - 20rem) / 71.25);
  }
}

.news__title {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 700;
  color: #131313;
  margin: 0px 0px 0.8125rem 0px;
}

.news__subtitle {
  font-weight: 500;
  color: #424242;
  line-height: 140%;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid rgba(148, 148, 148, 0.87);
}

@supports (padding-bottom: clamp( 1rem , 0.8596491228rem  +  0.701754386vw , 1.5rem )) {
  .news__subtitle {
    padding-bottom: clamp( 1rem , 0.8596491228rem  +  0.701754386vw , 1.5rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.8596491228rem  +  0.701754386vw , 1.5rem )) {
  .news__subtitle {
    padding-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 71.25);
  }
}

.news__time {
  font-size: 0.75rem;
  line-height: 120%;
  font-weight: 500;
  color: #949494;
}

.subscribe {
  position: relative;
}

@supports (padding-top: clamp( 3.75rem , 2.7324561404rem  +  5.0877192982vw , 7.375rem )) {
  .subscribe {
    padding-top: clamp( 3.75rem , 2.7324561404rem  +  5.0877192982vw , 7.375rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 2.7324561404rem  +  5.0877192982vw , 7.375rem )) {
  .subscribe {
    padding-top: calc(3.75rem + 3.625 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 2.9429824561rem  +  4.0350877193vw , 6.625rem )) {
  .subscribe {
    padding-bottom: clamp( 3.75rem , 2.9429824561rem  +  4.0350877193vw , 6.625rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.9429824561rem  +  4.0350877193vw , 6.625rem )) {
  .subscribe {
    padding-bottom: calc(3.75rem + 2.875 * (100vw - 20rem) / 71.25);
  }
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc000;
}

.subscribe__container {
  position: relative;
  z-index: 2;
}

.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 1.25rem , -1.2061403509rem  +  12.2807017544vw , 10rem )) {
  .subscribe__row {
    gap: clamp( 1.25rem , -1.2061403509rem  +  12.2807017544vw , 10rem );
  }
}

@supports not (gap: clamp( 1.25rem , -1.2061403509rem  +  12.2807017544vw , 10rem )) {
  .subscribe__row {
    gap: calc(1.25rem + 8.75 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-left: clamp( 0.0000000625rem , -5.0752430601rem  +  10.5736985287vw , 4.375rem )) {
  .subscribe__row {
    padding-left: clamp( 0.0000000625rem , -5.0752430601rem  +  10.5736985287vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -5.0752430601rem  +  10.5736985287vw , 4.375rem )) {
  .subscribe__row {
    padding-left: calc(0.0000000625rem + 4.3749999375 * (100vw - 47.99875rem) / 41.37625);
  }
}

@supports (padding-right: clamp( 0.0000000625rem , -10.8755209973rem  +  22.6579255914vw , 9.375rem )) {
  .subscribe__row {
    padding-right: clamp( 0.0000000625rem , -10.8755209973rem  +  22.6579255914vw , 9.375rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -10.8755209973rem  +  22.6579255914vw , 9.375rem )) {
  .subscribe__row {
    padding-right: calc(0.0000000625rem + 9.3749999375 * (100vw - 47.99875rem) / 41.37625);
  }
}

.subscribe__texts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.subscribe__title {
  line-height: 120%;
  font-weight: 700;
  margin: 0px 0px 0.625rem 0px;
  color: #000000;
}

@supports (font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem )) {
  .subscribe__title {
    font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem )) {
  .subscribe__title {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 71.25);
  }
}

.subscribe__subtitle {
  font-size: 0.875rem;
  line-height: 1.7857142857;
  font-weight: 300;
  color: #000000;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.75rem;
}

@supports (gap: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .subscribe__form {
    gap: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .subscribe__form {
    gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 71.25);
  }
}

.subscribe__input {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #e5e3e3;
  border-radius: 0.3125rem;
  padding: 0.3125rem 1.5625rem;
  font-weight: 300;
  color: #000000;
  font-size: 0.875rem;
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {
  color: #000000;
}

.subscribe__input::-moz-placeholder {
  color: #000000;
}

.subscribe__input:-ms-input-placeholder {
  color: #000000;
}

.subscribe__input::-ms-input-placeholder {
  color: #000000;
}

.subscribe__input::placeholder {
  color: #000000;
}

.subscribe__btn {
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  color: #fcfcfc;
  background-color: #000000;
  border-radius: 0.3125rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@supports (padding-left: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem )) {
  .subscribe__btn {
    padding-left: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem )) {
  .subscribe__btn {
    padding-left: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-right: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem )) {
  .subscribe__btn {
    padding-right: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem );
  }
}

@supports not (padding-right: clamp( 2.8125rem , 2.5493421053rem  +  1.3157894737vw , 3.75rem )) {
  .subscribe__btn {
    padding-right: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

.subscribe__btn:hover {
  background-color: #222222;
}

@supports (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .expert {
    padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .expert {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.4396929825rem  +  5.6140350877vw , 5.5625rem )) {
  .expert {
    padding-bottom: clamp( 1.5625rem , 0.4396929825rem  +  5.6140350877vw , 5.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.4396929825rem  +  5.6140350877vw , 5.5625rem )) {
  .expert {
    padding-bottom: calc(1.5625rem + 4 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.8256578947rem  +  3.6842105263vw , 4.1875rem )) {
  .expert__title-el {
    margin-bottom: clamp( 1.5625rem , 0.8256578947rem  +  3.6842105263vw , 4.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.8256578947rem  +  3.6842105263vw , 4.1875rem )) {
  .expert__title-el {
    margin-bottom: calc(1.5625rem + 2.625 * (100vw - 20rem) / 71.25);
  }
}

.expert__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.25rem , -1.75rem  +  6.25vw , 3.875rem )) {
  .expert__row {
    gap: clamp( 1.25rem , -1.75rem  +  6.25vw , 3.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , -1.75rem  +  6.25vw , 3.875rem )) {
  .expert__row {
    gap: calc(1.25rem + 2.625 * (100vw - 48rem) / 42);
  }
}

.expert__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , -0.2053571429rem  +  2.380952381vw , 1.9375rem )) {
  .expert__item {
    gap: clamp( 0.9375rem , -0.2053571429rem  +  2.380952381vw , 1.9375rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -0.2053571429rem  +  2.380952381vw , 1.9375rem )) {
  .expert__item {
    gap: calc(0.9375rem + 1 * (100vw - 48rem) / 42);
  }
}

.expert__image {
  width: 16.4375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 263px;
          flex: 0 0 263px;
  height: 10.25rem;
  border: 1px solid #e5e3e3;
}

.expert__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.expert__title {
  line-height: 130%;
  font-weight: 700;
  color: #131313;
  margin: 0px 0px 0.625rem 0px;
}

@supports (font-size: clamp( 0.9375rem , 0.9199561404rem  +  0.0877192982vw , 1rem )) {
  .expert__title {
    font-size: clamp( 0.9375rem , 0.9199561404rem  +  0.0877192982vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.9199561404rem  +  0.0877192982vw , 1rem )) {
  .expert__title {
    font-size: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 71.25);
  }
}

.expert__subtitle {
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: 500;
  color: #424242;
  border-bottom: 1px solid #e5e3e3;
  padding: 0px 0px 1rem 0px;
  margin: 0px 0px 1rem 0px;
}

.expert__time {
  font-weight: 500;
  color: #949494;
  font-size: 0.75rem;
  line-height: 2;
}

.big-panel {
  position: relative;
}

@supports (padding-top: clamp( 4.375rem , 2.2521929825rem  +  10.6140350877vw , 11.9375rem )) {
  .big-panel {
    padding-top: clamp( 4.375rem , 2.2521929825rem  +  10.6140350877vw , 11.9375rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 2.2521929825rem  +  10.6140350877vw , 11.9375rem )) {
  .big-panel {
    padding-top: calc(4.375rem + 7.5625 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8399122807rem  +  5.1754385965vw , 5.5625rem )) {
  .big-panel {
    padding-bottom: clamp( 1.875rem , 0.8399122807rem  +  5.1754385965vw , 5.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8399122807rem  +  5.1754385965vw , 5.5625rem )) {
  .big-panel {
    padding-bottom: calc(1.875rem + 3.6875 * (100vw - 20rem) / 71.25);
  }
}

.big-panel__figure {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@supports (width: clamp( 18.75rem , 9.2763157895rem  +  47.3684210526vw , 52.5rem )) {
  .big-panel__figure img {
    width: clamp( 18.75rem , 9.2763157895rem  +  47.3684210526vw , 52.5rem );
  }
}

@supports not (width: clamp( 18.75rem , 9.2763157895rem  +  47.3684210526vw , 52.5rem )) {
  .big-panel__figure img {
    width: calc(18.75rem + 33.75 * (100vw - 20rem) / 71.25);
  }
}

.big-panel__container {
  position: relative;
  z-index: 2;
}

.big-panel__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , -2.0625rem  +  6.25vw , 3.5625rem )) {
  .big-panel__row {
    gap: clamp( 0.9375rem , -2.0625rem  +  6.25vw , 3.5625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -2.0625rem  +  6.25vw , 3.5625rem )) {
  .big-panel__row {
    gap: calc(0.9375rem + 2.625 * (100vw - 48rem) / 42);
  }
}

.big-panel__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}

.big-panel__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.left-big__title {
  line-height: 140%;
  font-weight: 700;
  color: #131313;
}

@supports (font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem )) {
  .left-big__title {
    font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2346491228rem  +  0.701754386vw , 1.875rem )) {
  .left-big__title {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 0.8125rem , 0.6195175439rem  +  0.9649122807vw , 1.5rem )) {
  .left-big__title {
    margin-bottom: clamp( 0.8125rem , 0.6195175439rem  +  0.9649122807vw , 1.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.8125rem , 0.6195175439rem  +  0.9649122807vw , 1.5rem )) {
  .left-big__title {
    margin-bottom: calc(0.8125rem + 0.6875 * (100vw - 20rem) / 71.25);
  }
}

.left-big__subtitle {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 500;
  color: #949494;
}

@supports (margin-bottom: clamp( 1.25rem , 0.899122807rem  +  1.7543859649vw , 2.5rem )) {
  .left-big__subtitle {
    margin-bottom: clamp( 1.25rem , 0.899122807rem  +  1.7543859649vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.899122807rem  +  1.7543859649vw , 2.5rem )) {
  .left-big__subtitle {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 71.25);
  }
}

.left-big__image-ibg {
  padding: 0px 0px 80% 0px;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.7905701754rem  +  3.8596491228vw , 4.3125rem )) {
  .left-big__image-ibg {
    margin-bottom: clamp( 1.5625rem , 0.7905701754rem  +  3.8596491228vw , 4.3125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.7905701754rem  +  3.8596491228vw , 4.3125rem )) {
  .left-big__image-ibg {
    margin-bottom: calc(1.5625rem + 2.75 * (100vw - 20rem) / 71.25);
  }
}

.left-big__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-weight: 500;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem )) {
  .left-big__text {
    gap: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem )) {
  .left-big__text {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-top: clamp( 1.25rem , 0.3728070175rem  +  4.3859649123vw , 4.375rem )) {
  .story {
    padding-top: clamp( 1.25rem , 0.3728070175rem  +  4.3859649123vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.3728070175rem  +  4.3859649123vw , 4.375rem )) {
  .story {
    padding-top: calc(1.25rem + 3.125 * (100vw - 20rem) / 71.25);
  }
}

.story__body {
  border: 1px solid #e5e3e3;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 0.9375rem , -5.1339285714rem  +  12.6488095238vw , 6.25rem )) {
  .story__body {
    gap: clamp( 0.9375rem , -5.1339285714rem  +  12.6488095238vw , 6.25rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -5.1339285714rem  +  12.6488095238vw , 6.25rem )) {
  .story__body {
    gap: calc(0.9375rem + 5.3125 * (100vw - 48rem) / 42);
  }
}

@supports (padding-top: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .story__body {
    padding-top: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .story__body {
    padding-top: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .story__body {
    padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .story__body {
    padding-bottom: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .story__body {
    padding-left: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.586622807rem  +  1.7543859649vw , 2.1875rem )) {
  .story__body {
    padding-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.8125rem )) {
  .story__body {
    padding-right: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.8125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.8125rem )) {
  .story__body {
    padding-right: calc(0.9375rem + 1.875 * (100vw - 20rem) / 71.25);
  }
}

.story__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.9375rem , -0.5625rem  +  3.125vw , 2.25rem )) {
  .story__icons {
    gap: clamp( 0.9375rem , -0.5625rem  +  3.125vw , 2.25rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -0.5625rem  +  3.125vw , 2.25rem )) {
  .story__icons {
    gap: calc(0.9375rem + 1.3125 * (100vw - 48rem) / 42);
  }
}

.story__image {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  background-color: #ffc000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story__icon img {
  max-width: 100%;
}

.story__title {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 500;
  color: #959595;
  margin: 0px 0px 0.875rem 0px;
}

.story__subtitle {
  font-weight: 700;
  line-height: 1.5714285714;
  color: #131313;
}

.right-big__title {
  font-weight: 700;
  color: #131313;
  line-height: 120%;
}

@supports (font-size: clamp( 1.25rem , 1.1798245614rem  +  0.350877193vw , 1.5rem )) {
  .right-big__title {
    font-size: clamp( 1.25rem , 1.1798245614rem  +  0.350877193vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1798245614rem  +  0.350877193vw , 1.5rem )) {
  .right-big__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 71.25);
  }
}

.right-big__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d1d1d1;
}

@supports (gap: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .right-big__body {
    gap: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem );
  }
}

@supports not (gap: clamp( 0.625rem , -0.5892857143rem  +  2.5297619048vw , 1.6875rem )) {
  .right-big__body {
    gap: calc(0.625rem + 1.0625 * (100vw - 48rem) / 42);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .right-big__body {
    padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .right-big__body {
    padding-bottom: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .right-big__body {
    margin-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7094298246rem  +  1.1403508772vw , 1.75rem )) {
  .right-big__body {
    margin-bottom: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.25);
  }
}

.right-big__body:last-child {
  border: none;
  padding-bottom: 0;
}

@supports (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .right-big__body:last-child {
    padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6469298246rem  +  6.1403508772vw , 6.25rem )) {
  .right-big__body:last-child {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.25);
  }
}

.right-big__image {
  width: 9.4375rem;
  height: 7.125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 151px;
          flex: 0 0 151px;
}

.right-big__image img {
  width: 100%;
  height: 100%;
}

.right-big__titlee {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 700;
  color: #131313;
  margin: 0px 0px 1.25rem 0px;
}

.right-big__time {
  font-size: 0.75rem;
  font-weight: 500;
  color: #949494;
  line-height: 120%;
}

.right-big__textt {
  font-size: 0.875rem;
  font-weight: 500;
  color: #424242;
  line-height: 120%;
  border-bottom: 1px solid #e5e3e3;
  padding: 0px 0px 1.5625rem 0px;
  margin: 0px 0px 0.875rem 0px;
}

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem )) {
  .recommend {
    gap: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 1.0043859649rem  +  1.2280701754vw , 2.125rem )) {
  .recommend {
    gap: calc(1.25rem + 0.875 * (100vw - 20rem) / 71.25);
  }
}

.recommend__body {
  border: 1px solid #e5e3e3;
  border-radius: 5px;
  background-color: #fff;
}

.recommend__image-ibg {
  padding: 0px 0px 80% 0px;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.375rem )) {
  .recommend__image-ibg {
    margin-bottom: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.375rem )) {
  .recommend__image-ibg {
    margin-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.6875rem )) {
  .recommend__texts {
    padding-left: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.6875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.6875rem )) {
  .recommend__texts {
    padding-left: calc(0.9375rem + 0.75 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-right: clamp( 1.25rem , 0.600877193rem  +  3.2456140351vw , 3.5625rem )) {
  .recommend__texts {
    padding-right: clamp( 1.25rem , 0.600877193rem  +  3.2456140351vw , 3.5625rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 0.600877193rem  +  3.2456140351vw , 3.5625rem )) {
  .recommend__texts {
    padding-right: calc(1.25rem + 2.3125 * (100vw - 20rem) / 71.25);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem )) {
  .recommend__texts {
    padding-bottom: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6743421053rem  +  1.3157894737vw , 1.875rem )) {
  .recommend__texts {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8114035088rem  +  2.1929824561vw , 2.8125rem )) {
  .title70 {
    margin-bottom: clamp( 1.25rem , 0.8114035088rem  +  2.1929824561vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8114035088rem  +  2.1929824561vw , 2.8125rem )) {
  .title70 {
    margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 71.25);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7763157895rem  +  2.3684210526vw , 2.9375rem )) {
  .title40 {
    margin-bottom: clamp( 1.25rem , 0.7763157895rem  +  2.3684210526vw , 2.9375rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7763157895rem  +  2.3684210526vw , 2.9375rem )) {
  .title40 {
    margin-bottom: calc(1.25rem + 1.6875 * (100vw - 20rem) / 71.25);
  }
}

.over-footer {
  background-color: #000;
  position: relative;
  z-index: 3;
}

.over-footer__follow-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-left: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem )) {
  .over-footer__follow-body {
    margin-left: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -14.5006947081rem  +  30.2105675055vw , 12.5rem )) {
  .over-footer__follow-body {
    margin-left: calc(0.0000000625rem + 12.4999999375 * (100vw - 47.99875rem) / 41.37625);
  }
}

@supports (gap: clamp( 0.625rem , -1.2600903296rem  +  3.9273737954vw , 2.25rem )) {
  .over-footer__follow-body {
    gap: clamp( 0.625rem , -1.2600903296rem  +  3.9273737954vw , 2.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , -1.2600903296rem  +  3.9273737954vw , 2.25rem )) {
  .over-footer__follow-body {
    gap: calc(0.625rem + 1.625 * (100vw - 47.99875rem) / 41.37625);
  }
}

.over-footer__text {
  color: #fff;
  font-weight: 500;
}

.over-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.5rem , -0.3700416906rem  +  1.8126340594vw , 1.25rem )) {
  .over-footer__icons {
    gap: clamp( 0.5rem , -0.3700416906rem  +  1.8126340594vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.5rem , -0.3700416906rem  +  1.8126340594vw , 1.25rem )) {
  .over-footer__icons {
    gap: calc(0.5rem + 0.75 * (100vw - 47.99875rem) / 41.37625);
  }
}

.footer-footer {
  margin-right: 0;
}

.logo-white {
  color: #fff;
}

.link-white {
  color: #fff;
  font-size: 0.875rem;
}

@media (max-width: 68.75em) {
  .expert__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .expert__image {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: auto;
    position: relative;
    padding: 0px 0px 50% 0px;
  }

  .expert__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    max-width: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 62.5em) {
  .right-big__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .right-big__image {
    width: auto;
    height: auto;
    position: relative;
    padding: 0px 0px 60% 0px;
  }

  .right-big__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 61.99875em) {
  .header {
    min-height: 20px;
  }
}

@media (max-width: 58.125em) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    padding: 5.375rem 0px 1.875rem 0px;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.1875rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 11;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffc000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .footer__item:nth-child(1) .footer__title::before {
    right: none;
    left: 7.5rem;
  }

  .footer__item:nth-child(2) .footer__title::before {
    right: none;
    left: 6.25rem;
  }

  .footer__item:nth-child(3) .footer__title::before {
    right: none;
    left: 6.25rem;
  }

  .footer__item:nth-child(4) .footer__title::before {
    right: none;
    left: 6.875rem;
  }

  .table-main__body {
    overflow: scroll;
  }

  .table-main__itemm {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .table-main__icon {
    left: -0.5rem;
  }

  .subscribe__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5625rem;
  }

  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    padding: 0 1.25rem;
  }

  .subscribe__input {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 1.3125rem 1.5625rem;
  }

  .subscribe__btn {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-top: 1.5625rem;
    padding-bottom: 1.3125rem;
  }

  .big-panel__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .over-footer {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .expert__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .expert__image {
    padding: 0px 0px 60% 0px;
  }
}

@media (max-width: 31.25em) {
  .story__image {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .title-el__all {
    margin: 0.625rem 0px 0px 0px;
    display: inline-block;
    position: inherit;
  }

  .header__row {
    height: 3.5rem;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__item:nth-child(1) .footer__title::before {
    left: 6.875rem;
  }

  .footer__item:nth-child(2) .footer__title::before {
    right: none;
    left: 5.625rem;
  }

  .footer__item:nth-child(3) .footer__title::before {
    right: none;
    left: 5.625rem;
  }

  .footer__item:nth-child(4) .footer__title::before {
    right: none;
    left: 6.25rem;
  }

  .real-time__row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .news__row {
    grid-template-columns: repeat(auto-fit, minmax(201px, 1fr));
  }

  .story__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .title-el__all:hover {
    color: #6e6e6e;
  }

  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .footer__link:hover {
    color: #ffc000;
  }
}